body {
    background-color: rgb(120, 197, 241);
    width: 90%;
    margin: 0px auto;

}

.container {
    overflow: auto;
}

h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}
.Column1 p, .Column2 p, .Column3 p {
    
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    width: 31.3%;
    line-height: 1.4em;
    border: 2px solid rgba(37, 173, 10, 0.89);
    float: left;
    margin: 1%;
    padding: 20px 20px;
    

}



